@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';
@import './common.scss';

body {
  height: 100%;
  color: #666;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}
ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
// main-container global css
.app-container {
  padding: 20px;
}
.main-box{
  background:rgba(255,255,255,1);
  box-shadow:0px 2px 7px 1px rgba(211,229,255,1);
  border-radius:12px;
  padding: 22px 32px;
}
.search-area {
  .companyHandle {
    height: 44px;
    display: flex;
    justify-content: space-between;
  }
}
.companyHandle {
  display: flex;
  justify-content: flex-end;
  .el-select{
    margin-right: 10px;
  }
}
.highred{
  color: #FF4040;
}
.highblue{color:#4084FF !important}
.el-pagination{
  margin-top: 20px;
}


.search-area {
  display: flex;
  flex-direction: column;
  dl {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 6px 0;
    dd {
      display: flex;
      flex-direction: row;
      margin-left: 10px;
      button{
        margin-right:10px;
      }
      .el-select{
        margin-right:10px;
      }
      .el-input__inner {
      height: 36px;
      line-height: 36px;
      }
      .el-input__icon{
        line-height:36px;
      }
      .el-date-editor{
        .el-input__icon{
          line-height:30px;
        }
      }
      .el-radio-button__inner{
        padding: 10px 20px;
      }
      .el-button--primary{
        padding: 10px 20px;
      }
      .el-radio-button__orig-radio:checked+.el-radio-button__inner{
      background-color: #6699ff;
      border-color:#6699ff;
      }
    }
  }
}

  


