// sidebar
$menuText:#a1acc3;
$menuActiveText:#4083ff;
$subMenuActiveText:#4083ff; //https://github.com/ElemeFE/element/issues/12951

$menuBg:#fff;
$menuHover:#e6f0ff;

$subMenuBg:#fff;
$subMenuHover:#f2f7ff;

$sideBarWidth: 210px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
